{% load static %}
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}Hours App!{% endblock title %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>

    {% block stylesheet %}{% endblock stylesheet %}
</head>

<body>
    <div class="container">
        <nav class="mt-2">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                    aria-controls="nav-home" aria-selected="true">Home</a>
                <a class="nav-item nav-link" id="nav-add_assignment-tab" data-toggle="tab" href="#nav-add_assignment" role="tab"
                    aria-controls="nav-add_assignment" aria-selected="false">Add Assignment</a>
                <a class="nav-item nav-link" id="nav-add_collection-tab" data-toggle="tab" href="#nav-add_collection" role="tab"
                    aria-controls="nav-add_collection" aria-selected="false">Add Course</a>
            </div>
        </nav>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

    {% block javascript %}
    {% endblock javascript%}
</body>

</html>